[submodule "native/libtcod"]
	path = native/libtcod
	url = https://github.com/libtcod/libtcod
[submodule "SDL3-CS"]
	path = SDL3-CS
	url = https://github.com/flibitijibibo/SDL3-CS
[submodule "native/SDL"]
	path = native/SDL
	url = https://github.com/libsdl-org/SDL
